.card-container {
  display: flex;
  flex-direction: row;
  background-color: var(--card-bg);
  margin-bottom: 1rem;
  height: 5rem;
  width: 50vw;
  justify-content: space-around;
  align-items: center;
  transition: transform 0.25s cubic-bezier(0.17, 0.67, 0.83, 0.67) 0s;
}

.content-box {
  /* border: 1px solid red; */
  flex: 1;
  justify-content: center;
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
}

.card-container:hover {
  transform: scale(1.03);
  box-shadow: 0 0 40px rgb(192 219 255 / 28%), 0 0 22px var(--highlight);
}

.coin-name {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 0.5rem;
  padding-left: 2rem;
  font-size: 1.3rem;
  flex: 2;
}

.mkt-cap {
  flex: 2;
}

.card-price {
  display: flex;
  justify-content: flex-start;
}

.up {
  color: seagreen;
}

.down {
  color: lightcoral;
}
