.coin-container {
  background-color: var(--card-bg);
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  max-height: 25vw;
}

.content-area {
  width: 50vw;
  height: 50vh;
}
